#formulario{
	height: 30%;
	width: 30%;
	 margin-top: 5%;
	 font-size: 15px;

	
}
#inputEmail3{
	margin-left: 15%;
}

#texto1{
	font-family: Bookman Old Style;
    font-size: 250%;
    margin-top: 10%;
   
}

#cont{
 background-color: #C0D9D9;
 width: 50%;
 height: 50%;
 margin-top: 7%;
}

#cuerpo{
background-color: #5F9F9F;
}
#texto{
	border: solid;
	border-radius: 5%;
	width: 50%;
	height: 80%;
	margin-left: 25%;
	font-size: 150%;
	font-family: Bookman Old Style;
}
#
#boton{
	margin-right: 50px;
}

